// 全局的变量

// base color
$primaryColor:#1890ff;
$successColor:#13ce66;
$warningColor:#E6A23C;
$dangerColor:#F56C6C;
$infoColor:#909399;

$black:#000000;
$white:#ffffff;

// text color
$textPrimary:#303133;
$textCommon:#606266;
$placeholder:#C0C4CC //nav color
// $navColor:$primaryColor;